{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to demo Ecommerce!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros erat, tincidunt non efficitur ac, sodales in felis. Aenean at pulvinar turpis, ut accumsan magna. In eu libero ac ex lobortis tristique. Phasellus ipsum risus, vestibulum in orci vitae, mollis hendrerit velit. Nam non neque ac nisi feugiat accumsan. Duis imperdiet dolor et lacus scelerisque, id hendrerit leo porttitor. Nullam gravida quis tortor blandit blandit. Nullam bibendum est dapibus tellus blandit, sed tempor risus aliquet. Curabitur nulla nulla, bibendum eget elit vel, placerat dignissim diam. Aliquam commodo sed ligula consectetur ultrices. Donec tellus ante, bibendum eu nunc in, condimentum fermentum quam. Phasellus hendrerit non neque id molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
<br/><br/>
Sed libero ligula, faucibus vitae massa ac, iaculis pulvinar dui. Praesent non fermentum mauris. Sed suscipit nisi nec luctus tristique. Proin quis velit id urna pulvinar bibendum. Mauris id tincidunt felis. Sed lacus lectus, sollicitudin ac ex a, interdum varius libero. Aliquam elementum in metus a gravida. Curabitur suscipit commodo sem quis vehicula. Morbi vehicula, mi sed scelerisque fermentum, tortor massa pulvinar lectus, vitae rhoncus sem justo vitae diam.
<br><br>
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus eget purus interdum, mattis dolor eu, placerat urna. Integer sed mattis neque. Nullam tincidunt blandit tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque vestibulum interdum libero laoreet vestibulum. Morbi efficitur nisi iaculis velit rhoncus vulputate. Sed eget leo id dui ultrices porta id non nisi. Nunc quis enim ornare, interdum orci nec, porttitor ligula. Morbi dapibus scelerisque lacus, vel lobortis justo tempor ut. Mauris eleifend metus vel lorem suscipit, quis congue mauris congue. Nulla id neque aliquet, laoreet eros eget, placerat felis.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}